.fake-link {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
} 


body {
  margin: 0;
  color:white;
  background-image: url('https://i.imgur.com/mVvB87Q.png');
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.login {
  padding-right: 50%;
  
}

.formdiv {
  background: linear-gradient(90deg, rgba(77,25,77,1) 0%, rgba(33,47,69,1) 100%);
  padding: 10px;
  border: 3px solid rgba(77,25,77,1);
  border-radius: 3px;
}
.tournicontainer {
display: flex;
}

.tournament {
 
  width: 45%;
  margin: 2%;
  
}
.tournament2 {
  color: white;
  width: 60%;
  padding: 10
}






